.header {
    background-color: white;
}

.header__inner {
    margin: 20px auto;
    max-width: 1230px;
    display: flex;
    text-align: center;
}

.header__logo {
    color: gray;
    text-decoration: none;
    font-size: 24px;
}

.header-nav {
    background-color: rgb(221, 215, 210);
    border: solid 2px rgb(161, 133, 114);
    display: inline-block;
}

.header-nav__link {
    text-decoration: none;
    color: rgb(161, 133, 114);
    margin: 1px 15px;
}

.register-form__heading h2 {
    font-weight: 100;
}